html, body { 
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: auto;

  font-family: "Lato";

  scroll-behavior: smooth;
  }
  
#about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url(../assets/background.jpg);
  background-size: 100%;

  height: 100vh;
}

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: linear-gradient(180deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);

    width:100%;
  }

    nav h1 {
      font-size: 1.5em;
      padding-left: 10%;
    }

    nav a {
      text-decoration: none;
      color: white;
    }

    #nav-links {
      width: 25%;
    }

    #nav-links a {
      padding-right: 10%;
    }

    #nav-links a:hover {
      text-decoration: underline;
    }
  
  #about-main {
    width: 75%;
    color: white;
    padding-top: 5vh;
  }

    #about-main h2 {
      font-size: 1.8em;
      text-align: center;
    }

    #about-main p {
      font-size: 1.5em;
      text-align: center;
    }

    #about-main button {
      position: relative;
      width: 20%;
      height: 10%;
      left: 40%;
      margin-top: 5vh;
      border-radius: 50px;
      font-size: 1.5em;
      background-color: #fff;
      border: none;
    }

#simulation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  #simulation img {
    height: 85vh;
    width: auto;
    align-self:center;
  }

  #simulation-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #simulation-input button {
    border: none;
    border-radius: 2px;
    font-size: 1em;
  }

#sandbox-select {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

  #sandbox-select h1 {
    font-size: 2.5em;
    margin-bottom: 10vh;
  }

  #sandbox-select input {
    width: 40%;
    margin-bottom: 7vh;
  }

  #sandbox-select p {
    font-size: 1.5em;
    width: 40%;
    margin-bottom: 10vh;
    text-align: center;
  }

  #sandbox-select button {
    width: 10%;
    height: 5%;
    border-radius: 50px;
    font-size: 1em;
    background-color: #000;
    border: none;
    color: white;
  }

#sandbox-demo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

  #demo-img {
    height: 85vh;
    width: auto;
  }

  #sandbox-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

    #sandbox-buttons button {
      width: 30vh;
      height: 5vh;
      border-radius: 50px;
      font-size: 1em;
      background-color: #000;
      border: none;
      color: white;

      margin: 4%;
    }

#map {
  background-color: black;
  background-size: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

  #map h1 {
    color: white;
    font-size: 2em;
  }

  #map p {
    color: white;
    font-size: .75em;
    margin-top: -2vh;
  }

  #map img {
    height: 78vh;
    width: auto;
  }

  #map button {
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 5%;
  }

#contact {
  background-image: url(../assets/background.jpg);
  background-size: 100%;
  
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  color: white;
}

  #contact h1 {
    font-size: 3em;
  }

  #contact-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 25%;
  }

  #contact img {
    height: 30vh;
    width: auto;
    border-radius: 10px;
  }

  #contact-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 25%;
  }

  #contact p {
    font-size: 1.1em;
    width: 40%;
  }

  #message-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 40%;
  }

    #message-content h3 {
      font-size: 1.2em;
    }

    #contact-message {
      height: 5vh;
      background-color: #fff;
      border: none;
      border-radius: 5px;
      margin-bottom: 5vh;
    }

    #contact-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    #contact-buttons button {
      width: 49%;
      height: 5vh;

      background-color: white;
      border: none;
      border-radius: 5px;
    }

    #contact-buttons button:hover {
      width: 49%;
      height: 5vh;

      background-color: #f0f0f0;
      border: none;
      border-radius: 5px;
      border: 1px solid black;
    }
